<script src="{{ WB_URL }}/modules/wbs_minishop/frontend2.js"></script> <!-- Только для одностраничника!!! -->
<link href="{{ WB_URL }}/modules/wbs_minishop/frontend.css" rel="stylesheet"> <!-- Только для одностраничника!!! -->

{{ includes|raw }}

<script>
    var section_id = {{ section_id }};
    var page_id = {{ page_id }};
    var is_common_cart = {{ is_common_cart }};

    "use strict";
    
    mod_minishop = new mod_minishop_Main(section_id, page_id);
</script>

<div style="text-align:right">
    {% if settings.need_registration == '1' %}
            <input type="button" value="Мои заказы" onclick="mod_minishop.order_show_list();">
    {% endif %}

    {% include 'frontend_cart_btn.twig' %}
</div>

<h1 style="text-align:center">{{ PROD_TITLE }}</h1>

<div class='product' id='product{{ PROD_ID }}' data-prod_id='{{ PROD_ID }}' data-section_id='{{ section_id }}' data-page_id='{{ page_id }}'>
    <div style="text-align:right">
        {{ PROD_SHORT_DESCR }} <br>
        Цена: {{ PROD_PRICE }} {{ CURRENCY }}
        {% if settings.show_code_vendor == 1 %} <br> Артикул: {{ PROD_VENDOR_CODE }} {% endif %}
        {% if settings.show_code_id == 1 %}  <br> Идентификатор: {{ PROD_ID }} {% endif %}
    </div>

    <br>

     <div>
        {{ PROD_DESCR }}
    </div>

    <br>

    <div>
        <input class='product_count2cart' type='number' value='0'>
        <input class='button_add2cart2' type='button' value='В корзину' onclick='mod_minishop.cart_add(this)'>
    </div>

</div>
<script src="{{ WB_URL }}/modules/wbs_minishop/frontend_after.js" defer></script>