<div id="product_cart_list_wrapper">
	<table style="text-align:left;">
	    <tr style="text-align:center;">
	        <th width="10">No</th>
	        <th width="400">Название</th>
	        <th width="60">Стоимость</th>
	        <th width="30">Кол-во</th>
	        <th width="5"></th>
	    </tr>
	    <tbody id="product_cart_list2">

{% set total_price = 0 %}

{% for prod in prods %}
    <tr id="cartlist{{ prod.prod_id }}" data-prod_id="{{ prod.prod_id }}">
        <td>{{ loop.index }}. </td>
        <td>{{ prod.prod_title }}</td>
        <td>{{ prod.prod_price }}</td>
        <td class="prod_count_cart_list"><input onchange="mod_minishop.cart.add({{ prod.prod_id }}, this.value); mod_minishop.cart_show_list()" type="number" value="{{ prod.cart_count }}"></td>
        <td class="button_delete_prod_from_cart" onclick="mod_minishop.cart.remove({{ prod.prod_id }}); mod_minishop_set_count_products(); W.close(this); mod_minishop.cart_show_list(); ">X</td>
    </tr>
    
    {% set total_price = total_price + (prod.prod_price * prod.cart_count) %}
    
{% endfor %}

	    </tbody>
	</table>
	<span>Итоговая стоимость: <span id="total_price">{{ total_price }}</span></span> <br>
	<br>

	<input id="mod_minishop_open_order_from" type="button" value="Оформить заказ" onclick="$('#mod_minishop_order_form').fadeToggle(); this.style.display='none'; W.calc_position(this, 'center')">
	<br>
	
	<form id="mod_minishop_order_form" style="display:none;">

        <fieldset><legend> Контактная информация </legend>		
    		<table>
	    		<tr>
	            	<td>Фамилия: </td><td> <input type="text" name="fio_first"></td>
		        </tr><tr>
	            	<td>Имя: </td><td> <input type="text" name="fio_second"></td>
		        </tr><tr>
	            	<td>Отчество: </td><td> <input type="text" name="fio_third"></td>
		        </tr><tr>
		            <td>Телефон: </td><td> <input type="text" name="phone"> </td>
    		    </tr>
	    	</table>
        </fieldset>

        <fieldset><legend> Доставка </legend>
    		<select name="delivery" onchange="if (this.value=='deliv') {document.getElementById('delivery_data').style.display='inline-block';document.getElementById('self_data').style.display='none';} else {document.getElementById('delivery_data').style.display='none'; document.getElementById('self_data').style.display='inline-block';}">
	    	    <option value="self" checked>Самовывоз</option>
		        <option value="deliv">Доставка</option>
	    	</select><br>

            <div id="delivery_data" style="display:none;">
            	{% if settings.has_delivery == 1 %}
                        <span>Адрес, куда доставить товар: </span>
                        <br>
                        Страна: <select name="delivery_addr_country">
                                <option selected>Россия</option>
                        </select> Регион: <input type="text" name="delivery_addr_region">
                        <br>
                        Населённый пункт: <input type="text" name="delivery_addr_settleement"> Улица: <input type="text" name="delivery_addr_street">
                        <br>
                        Дом: <input type="text" size="4" name="delivery_addr_building"> Корпус: <input type="text" name="delivery_addr_sector" size="4">
                        Квартира/офис: <input type="text" size="4" name="delivery_addr_flat">
            	{% else %}
             		Доставка недоступна. Приносим свои извинения.
         		{% endif %}
		    </div>
		    
            <div id="self_data">
            	{% if settings.has_self_delivery == 1 %}
            	    Адрес для самовывоза: {{ settings.address_self_delivery }}
            	{% else %}
             		Самовывоз недоступен. Приносим свои извинения.
         		{% endif %}
		    </div>
        </fieldset>


        <fieldset><legend> Прочее </legend>
    		Комментарий к заказу: <br>
	    	<textarea name="comment" cols="30" rows="3"></textarea><br><br>

    		<span style="text-align: right;">Защита от спама:</span> {{ captcha | raw }} <br>

	    	<br><input type='checkbox' name='i_agree' required> Согласен (на) с условиями <a onclick="W.open_by_api('get_agreement')" style='cursor:pointer;'>Пользовательского соглашения</a><br>
        </fieldset>

		<input type="button" value="Подтвердить" onclick="mod_minishop.order_confirm(this);">
		<input type="button" value="Отменить" onclick="$('#mod_minishop_order_form').css({display:'none'}); $('#mod_minishop_open_order_from').css({display:''}); W.calc_position(this, 'center')">
	</form>

</div>